<div class="menuAll">
  <div id="menuBtn" class="menu">
    <div class="box">
      <div id="menu_top" class=bar>
      </div>
      <div id="menu_mid" class=bar>
      </div>
      <div id="menu_btm" class=bar>
      </div>
    </div>
  </div>

  <div class="title_box">
    <a href="/"><img src="../imgs/homeicon.svg"></a>
  </div>

  <div id="menuOpen" class="menuOpen">
    <div class="menuText">
      <h3 class="menuselect">Created for</h3>
      <p class="menuselect">George Brown College</p>
      <p class="menuselect">Year Two Spacial Design</p>
      <br>
      <h3 class="menuselect">Created by</h3>
      <a href="/team"><p class="menuselect">The Team.</p></a>
      <p class="menuselect">Aaron DeRoche, Bohn Noble, Kiefer Ortuoste, Tommy Tao, and Vyka Nguyen.</p>

      <div class="menuTextB">
        <h3 class="menuselect">Contact</h3>
        <p class="menuselect">aaron@deroche.design</p>
      </div>
    </div>

    <footer class="extras">
      <h2 class="secondary">Hand Coded by <a href="http://deroche.design">deroche.design</a>  v1.4</h2>
    </footer>
  </div>
</div>
