<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nothing Here!</title>
    <link rel="icon" href="../../imgs/faviconx.png">
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
  </head>
  <body>
    <%- include partials/nav.ejs %>
      <div class="pushhalftop">
        <h1 class="title" id="sadface">:[</h1>
        <h1 class="title rose">404. This page doesn't exist! Sorry.</h1>
      </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../../js/menu.js" charset="utf-8"></script>
</html>
