<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000"/>
    <title>Language of Flowers</title>
    <link rel="icon" href="imgs/faviconx.png">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
  </head>
  <body>

    <div id="msgOver" class="overflow">
        <div id="msgInfo" class="teampadding popInfo noscroll">
          <div class="teamtop infoInfoA">
            <div class="teamlink">
              <a target="_blank" href="https://instagram.com/aaronderoche">
                <img src="../imgs/igicon.png">
                <h1>Aaron</h1>
              </a>
            </div>

            <div class="teamlink">
              <a target="_blank" href="https://instagram.com/bohnn">
                <img src="../imgs/igicon.png">
                <h1>Bohn</h1>
              </a>
            </div>

            <div class="teamlink">
              <a target="_blank" href="https://instagram.com/ortuesdays">
                <img src="../imgs/igicon.png">
                <h1>Kiefer</h1>
              </a>
            </div>

            <div class="teamlink">
              <a target="_blank" href="https://instagram.com/tao4154">
                <img src="../imgs/igicon.png">
                <h1>Tommy</h1>
              </a>
            </div>

            <div class="teamlink">
              <a target="_blank" href="https://instagram.com/veeka_nguyen">
                <img src="../imgs/igicon.png">
                <h1>Vyka</h1>
              </a>
            </div>

        </div>
      </div>

    </div>

    <div id="msgBtn" class="teamFab msgFab">
      <img src="../imgs/igicon.png">
    </div>



  <div class="landing">

    <%- include partials/nav.ejs %>

    <main class="home teambg">



      <div class="bigtitle">
        <h1 class="htitle sSelect"><span class="normalizetitle sSelect">T</span>he<br>Language<br>of<br>Flowers</h1>
      </div>

      <div class="smtitle">
        <h1 class="specialtitle sSelect"><span class="normalizetitle sSelect">T</span>he Language of Flowers</h1>
        <h1 class="specialtitle sSelect">The Team</h1>
      </div>

    </main>
  </div>
    <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js" charset="utf-8"></script>
    <script src="js/menu.js" charset="utf-8"></script>
    <script src="js/info.js" charset="utf-8"></script>
  </body>
</html>
